.product-cart {
    width: 300px;
    height: 508px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    position: relative;
}

.product-cart img {
    max-width: 286px;
    max-height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info {
    padding-left: 14px;
}

.product-title {
    margin: 12px 0;
    font-size: 16px;
    font-weight: 500;
}

.product-info p {
    margin: 12px 0;
}

.product-price {
    margin-bottom: 47px;
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
}

.product-seller {
    font-size: 12px;
    font-weight: 500;
}

.product-rating {
    font-size: 12px;
    font-weight: 500;
}

.add-to-card-btn {
    width: 100%;
    background-color: #FFE0B3;
    border: 0;
    border-top: 1px solid #95A0A7;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
}

.add-to-card-btn:hover {
    background-color: orange;
}

.cart-icon {
    font-size: 16px;
}